html, body {
  margin: 0;
  padding: 0;
  /* background-color: aqua; */
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hour-text {
  font-family: "Reddit Sans Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.minute-text {
  font-family: "Reddit Sans Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

canvas {
  display: block;
}

